<div>
  <h1> ¡Hola, {{name}}! ¡Qué gusto verte!</h1>
  {{#if isActive}}
  <h2>Tu carrito de compras:</h2>
    {{#each products}}
      <ul>
        <li>id: <p>{{this._id}}</p></li>
        <li>quantity: <p>{{this.quantity}}</p></li>
      </ul>
    {{/each}}
  {{else}}
    <p>Todavía no tienes carrito de compra</p>
  {{/if}}
</div>
