<div>
  <h1> ¡Hola, {{user.name}}! ¡Qué gusto verte!</h1>
  {{#if isActive}}
  <h2>Tu carrito de compras:</h2>
    {{#each products}}
      <ul>
        <li>id: <p>{{this.id}}</p></li>
        <li>qunatity: <p>{{this.quantity}}</p></li>
      </ul>
    {{/each}}
  {{else}}
    <p>Todavía no tienes carrito de compra</p>
  {{/if}}
</div>
