<h1>Registrarse</h1>

<form method="POST" action="/api/products">
    <input type="text" name="title" placeholder="Title"/><br>
    <input type="text" name="description" placeholder="Description"/><br>
    <input type="number" name="price" placeholder="Price"/><br>
    <input type="text" name="stock" placeholder="Stock"/></br>
    <input type="text" name="category" placeholder="Category"/><br>
    <input type="text" name="thumbnails" placeholder="Thumbnails"/><br>
    <input type="submit" value="Crear"/>
</form>
