<div>
  <h2>Product:</h2>
      <ul>
        <li>
          <div>
            Name: <p>{{product.title}}</p> </br>
            Description: <p>{{product.description}}</p> </br>
            Category: <p>{{product.category}}</p> </br>
            Price: <p>{{product.price}}</p>
          </div>
          </li>
      </ul>
</div>
