<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>

<body>
  <div>
    <h1> ¡Welcome to your favourite online shop!</h1>
    <h2>Products:</h2>
    <form action="">
      <div>
        <h3>Insert your new product!</h3>
        <input type="text" id="nameProduct" class="form__input" placeholder="Insert a name...">
        <input type="text" id="priceProduct" class="form__input" placeholder="Insert a price...">
        <button type="button" class="form__button" id="addProduct">Add</button>
      </div>
      <div>
        <h3>Delete a product!</h3>
        <input type="text" id="nameDelete" class="form__input" placeholder="Insert a name...">
        <button type="button" class="form__button" id="deleteProduct">Delete</button>
      </div>
    </form>
    <ul id="productList">
      {{#each products}}
      <li>
        <div class="li__products">
           <p> Name: {{this.title}}</p>
           <p> Price: {{this.price}}</p>
        </div>
      </li>

      {{/each}}
    </ul>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/index.js"></script>
</body>

</html>
