<h1>Registrarse</h1>

<form method="POST" action="/api/sessions/register">
    <input type="text" name="firstName" placeholder="First name"/><br>
    <input type="text" name="lastName" placeholder="Last name"/><br>
    <input type="text" name="birthdate" placeholder="Birthdate"/></br>
    <input type="text" name="email" placeholder="Email"/><br>
    <input type="password" name="password" placeholder="Password"/><br>
    <input type="submit" value="Registrarse"/>
</form>
